<header>
  <nav class="navbar navbar-light bg-light">
    <div class="d-flex">
      <img src="assets/img/logo.colour.svg" height="40">
      <div class="d-flex flex-row navbar-nav ps-5">
        <a class="nav-link me-4" [routerLink]="['/posts']">Posts</a>
        <a class="nav-link" [routerLink]="['/users/list']">Users</a>
      </div>      
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      Created by Camilo Salazar
    </div>
  </nav>
</footer>